@inherits LayoutComponentBase

<NavBar />

<main>
    @Body
</main>

<Footer />
<ChatWidget />

<div id="blazor-error-ui" data-nosnippet>
    Une erreur s'est produite.
    <a href="." class="reload">Recharger</a>
    <span class="dismiss">X</span>
</div>
